.main {
    padding: 1rem;
}
.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
}

.load-more-trigger {
    height: 50px;
    width: 100%;
}
.loading-spinner {
    text-align: center;
    padding: 1rem;
    font-size: 1.2rem;
    color: #666;
}
.top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.top-button:hover {
    background-color: #0056b3;
}
