/* 기본 스타일 */
.movie-row {
    margin: 20px 0;
}

.movie-row h2 {
    margin-left: 20px;
    color: #333333;
    font-size: 1.5em;
}

.scroll-container-wrapper {
    display: flex;
    align-items: center;
    position: relative;
}

.scroll-container {
    display: flex;
    overflow-x: auto;
    padding-left: 20px;
    gap: 10px; /* 아이템 간 여백 */
    scroll-snap-type: x mandatory;
    -ms-overflow-style: none; /* IE 및 Edge에서 스크롤 바 숨기기 */
    scrollbar-width: none; /* Firefox에서 스크롤 바 숨기기 */
    flex-wrap: nowrap; /* 카드가 한 줄에 유지되도록 설정 */
}

.movie-card-wrapper {
    flex: 0 0 auto; /* Flex 아이템이 줄바꿈 없이 고정된 크기를 유지 */
    width: calc(100% / 6); /* 기본 너비를 계산으로 설정 */
    scroll-snap-align: start; /* 스크롤 스냅 설정 */
}

@media (max-width: 1024px) {
    .movie-card-wrapper {
        width: calc(100% / 4); /* 카드 크기 조정 */
    }
}

@media (max-width: 768px) {
    .movie-card-wrapper {
        width: calc(100% / 3);
    }
}

@media (max-width: 600px) {
    .movie-card-wrapper {
        width: calc(100% / 2);
    }
}

@media (max-width: 480px) {
    .movie-card-wrapper {
        width: calc(100% / 2); /* 모바일 환경에서 여유 공간 확보 */
        margin-right: 10px; /* 간격 조정 */
    }
}

@media (max-width: 320px) {
    .movie-card-wrapper {
        width: 100%;
        margin-right: 0;
    }
}
