/* Search 컴포넌트 스타일 */
.search {
    padding: 1rem;
}

h2 {
    text-align: center;
    color: #333;
}

/* 필터 바 기본 스타일 */
.filters {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 1rem;
    flex-wrap: wrap; /* 요소가 화면 너비에 따라 줄 바꿈 가능 */
}

/* 태블릿 환경 */
@media screen and (max-width: 768px) {
    .filters {
        flex-direction: column; /* 세로로 정렬 */
        align-items: center; /* 가운데 정렬 */
        gap: 15px; /* 간격을 약간 더 넓게 */
    }
}

/* 모바일 환경 */
@media screen and (max-width: 480px) {
    .filters {
        flex-direction: column; /* 세로로 정렬 */
        align-items: center; /* 가운데 정렬 */
        gap: 20px; /* 모바일에서는 더 넓은 간격 */
    }
}


/* 필터 드롭다운 스타일 */
.filters select {
    padding: 0.5rem 1rem;
    border-radius: 20px; /* 둥근 모서리 */
    border: 1px solid #007bff; /* 테두리 색상 */
    background-color: #f8f9fa; /* 기본 배경색 */
    color: #333; /* 텍스트 색상 */
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease; /* 애니메이션 효과 */
    outline: none;
}

/* 필터 드롭다운 호버 및 포커스 효과 */
.filters select:hover,
.filters select:focus {
    background-color: #007bff; /* 호버 시 배경색 */
    color: #ffffff; /* 호버 시 텍스트 색상 */
    border-color: #0056b3; /* 호버 시 테두리 색상 */
}

/* 초기화 버튼 스타일 */
.filters button {
    padding: 0.5rem 1rem;
    border-radius: 20px;
    border: none;
    background-color: #007bff;
    color: #ffffff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* 초기화 버튼 호버 효과 */
.filters button:hover {
    background-color: #0056b3;
}

/* 영화 카드 스타일 */
.movie-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    padding: 20px;
}

.movie-card {
    width: 100%;
}

.movie-card img {
    width: 100%; /* 카드 전체 너비에 맞춤 */
    height: auto; /* 이미지 비율 유지하며 높이 자동 조정 */
    object-fit: cover; /* 이미지 잘림 방지 */
    display: block; /* 공백 제거 */
}

.movie-card-wrapper {
    width: 14%;; /* 카드 너비 줄이기 */
    scroll-snap-align: start;
    flex: 0 0 auto;
}

.movie-card h3 {
    padding: 10px;
    font-size: 1rem;
    color: #333;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

/* 로딩 인디케이터 스타일 */
.loader {
    text-align: center;
    font-size: 1.1rem;
    color: #666;
    margin-top: 1rem;
}
